body {
	font-family: Consolas, monaco, monospace;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-dialog { 
	font-size: 10px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.metabrick {
	display: flex;
	/*flex-direction: column;*/
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	height: 99%;
}

.wall {
	border: 1px dashed grey;
	font-size: small;
	padding: 2px;
	margin: 5px;
	color: grey;
	text-align: center;	
}

.brick {
	display: flex;
	flex-direction: column;
	justify-content: center;		
	text-align: center;
	padding-left: 1px;
	padding-right: 1px;
	margin: 1px;
	color: black;
	/*background-color: white;*/
	/*border: 1px solid grey;*/
}

.data {
	/*background-color: #ffffcc;*/
	/*border: 1px dashed grey;*/
	border-radius: 5px;
	/*padding-left: 4px;
	padding-right: 4px;*/
	flex: 1;
	text-align: left;
	font-weight: bold;
	color: blue;
}

.result {
	/*background-color: #ffad50;*/
	/*border: 1px dashed grey;*/
	/*padding-left: 4px;
	padding-right: 4px;*/
	text-align: left;
	font-style: italic;
}

.funcName {
	font-size: medium;
	font-weight: bold;
	border: 2px solid grey;
	border-radius: 5px;
	font-weight: bolder;
	/*background-color: white;*/
	flex: 1;
}

.then {
	border: 1px solid grey;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bolder;
	background-color: #F4CDCD;
	margin-left: 6px;
	margin-right: 6px;
}

.paramName {
	background-color: transparent;
	/*border: 1px solid grey;*/
	font-weight: bolder; 
}

.paramRef {
	color: blue;
	text-decoration: underline;
	font-weight: bolder; 
}

.horizontal {
	display: flex;
	justify-content: center;
	align-content: center;
}

.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.grab {
	background-color: #E2E2E2;
	border: 1px outset;
	margin-right: 2px;
	width: 10px;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.activeWall {
	border: 1px solid blue;
	/*background-color: lightgrey;*/
}

.activeBrick {
	border-radius: 5px;
	border: 2px solid blue;
	margin: -2px;
	background-color: #d4f2ff;
}

.wide {
	flex: 1;
}

.noChilds {
	width: 10px;
	border: 1px dashed grey;
	border-radius: 5px;
}

.metadata {
	/*border-radius: 5px;*/
	font-size: small;
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

.metadataCont {
	/*display: flex;*/
	margin-left: 2px;
	margin-right: 2px;
	align-items: center;
	max-width: 400px;
}

.metadataName {
	background-color: blue;
	color: white;
	font-weight: bold;
}

.metadataValue {
	background-color: white;
	border: 1px solid grey;
}

.literalEdit {
	width: 50px;
	font-size: smaller;
}